@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
	height: 100%;
}

body {
	font-family: 'Nunito', sans-serif;
	--space-cadet: #2b2d42;
	--manatee: #8d99ae;
	--maximum-yellow: #f8f32b;
	--orange-red-crayola: #ff5a5f;
	--orange-red-crayola-dark: #d81920;
	--white: #ffffff;
	--black: #000000;
	--grey: #cacaca;
	height: 100%;
}

a {
	color: var(--orange-red-crayola);
	text-decoration: none;
	line-height: 1.1rem;
}

a:hover {
	text-decoration: underline;
}

header {
	font-family: 'Fredoka', sans-serif;
	font-size: 2.5rem;
	background-color: var(--space-cadet);
	color: var(--maximum-yellow);
	text-align: center;
	padding: 15px;
	position: -webkit-sticky;
	position: sticky;
}

header a,
header a:hover {
	text-decoration: none;
	color: var(--maximum-yellow);
}

main {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 4fr;
	height: calc(100% - 2.5rem - 2 * 15px);
}

h2,
main h1 {
	font-weight: 700;
}

main h1 {
	font-size: 1.5rem;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

nav {
	border-right: 1px solid var(--black);
	height: 100%;
}

nav h2 {
	margin-bottom: 10px;
}

nav > div {
	padding: 20px;
}

.content {
	padding: 30px;
}

.headphone-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	gap: 20px;
	grid-auto-rows: 1fr;
}

.headphone-grid li {
	height: 100%;
	border: 1px solid var(--black);
	border-radius: 5px;
}

.headphone-grid li:hover {
	background-color: var(--manatee);
}

.headphone-grid li:hover a {
	color: var(--white);
}

.headphone-detail-a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	height: 100%;
	text-align: center;
}

.headphone-image {
	max-width: 100%;
	margin-bottom: 15px;
}

.headphone-detail-a .price-span {
	font-weight: 600;
	margin-top: 15px;
}

.detail-headphone-grid {
	margin: 20px 0;
}

.form-group {
	display: flex;
	align-items: center;
	margin: 15px 0;
}

select {
	font-size: 0.8rem;
}

input:not([type='checkbox']),
textarea {
	border-radius: 3px;
	border: 1px solid var(--grey);
	margin-left: 5px;
	font-size: 0.8rem;
}

input[type='checkbox'] ~ label {
	margin: 0 5px;
}

.no-headphones-span {
	display: block;
	margin-top: 10px;
	font-style: italic;
}

.headphone-detail-image {
	max-width: 40%;
}

strong {
	font-weight: 600;
}

input[type='password'] {
	margin-top: 10px;
}

.brand-logo {
	height: 1.5rem;
	margin-left: 5px;
}
